{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
img {
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 16px;
}
body{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.stack.imgur.com/9bfh4.png);
}
.login {
    border-radius: 50%;
    margin-left: 45px;
    height: 10%;
    margin-right: 45px;
}
.log {

    border-radius: 50%;
    margin-left: 45px;
    height: 10%;
    margin-right: 45px;
}
p {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  padding-left: 38px;
  padding-bottom: 20px;
}

a {
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 25px;
    width: 290px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
.container label{
    text-align: left;
    color: #90caf9;
}
a {
    color: black;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border-color: black;
    background-color: white;
    color: black;
    font-size: 15px;
}
.container form button{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border-color: aqua;
    font-size: 18px;
    color: black;
}
